$primaryColor: #ED1164;
$secundaryColor: #91A3AD;

$lightGreyColor: #ffebf24d;
$mediumGreyColor: #91A3AD;
$mediumGreyColorWithOpacity: #91A3AD1c;
$darkGreyColor: #575757;

$errorColor: #D60B04;

$mediaQueryDesktop: 954px;